* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding-left: 5px;
    padding-right: 5px;
}

th {
    background: white;
    position: sticky;
    top: 0;
}